body{
    background-color: rgb(246, 211, 129);
    
}

nav {
 background-color: rgb(240, 202, 124);
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

li {
  float: left;
  height: 100%;
}

li a {
  display: block;
  color: brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
}

li a:hover {
  background-color: #111;
}

h1 {
    color: brown;
    border-bottom: 3px solid red;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
h2 {
    color: darkslategray;
    font-size: medium;
    font-family: serif;
}

img 
{
    display: block;
    top: 0;
    transform: translate(-50%, 0%);
    left: 50%;
    margin: 0 auto;
    position: relative;
    left: 100px;
    top: 50px;
  
}
.bar {
height: 100px;
width: 100%;
background-color: rgb(224, 239, 184);
}